body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light","Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

h1 {
	font-weight: normal;
}

.main-content {
	position: relative;
	margin: 0 auto;
	width: 750px;
}
.main-title {
	font-size: 100px;
	text-align: center;
	margin-top: 240px;
}

.paddle-icon {
	height: 200px;
	width: 200px;
	position: absolute;
	top: -140px;
	left: -60px;
}

.download {
	height: 80px;
	width: 300px;
	background-color: #b01030;
	border-radius: 10px;
	margin-top: 50px;
	display: block;
	text-decoration: none;
	margin: 0 auto;
}

.download-text {
	color: #f7ca7d;
	font-size: 36px;
	text-align: center;
	line-height: 80px;
}

/*====================================
*
* Web interface styles
*
====================================*/

.web-interface {
	width: 500px;
	margin: auto;
	margin-top: 100px;
}

.button {
	background-color: white;
	border: 1px solid black;
	padding: 10px 15px;
	cursor: pointer;
	font-size: 14px;
	transition: background-color .3s ease-in-out;
}

.button:hover {
	background-color: AliceBlue;
}

.text-input {
	border: 1px solid black;
	padding: 10px 15px;
	font-size: 14px;
}

.row {
	display: block;
	margin: 10px 0;
}

.row span {
	vertical-align: middle;
}

.input-inline {
	margin: 0 5px;
}

.input-inline input {
	vertical-align: middle;
}
