body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light","Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.header > * {
    vertical-align: middle;
}

.title {
    font-family: 'Lobster Two', cursive;
    font-size: 30px;
}

.paddle-icon {
	height: 35px;
}

.download {
    margin-left: 30px;
}

/*====================================
*
* Web interface styles
*
====================================*/

.web-interface {
    width: 400px;
    border: 3px double #000000;
    padding: 20px;
    margin: 300px auto 0;
}

.web-title {
    font-size: 24px;
}

.button {
	background-color: white;
	border: 1px solid black;
	padding: 10px 15px;
	cursor: pointer;
	font-size: 14px;
	transition: background-color .3s ease-in-out;
    text-decoration: none;
    color: black;
}

.button:hover {
	background-color: AliceBlue;
}

.text-input {
	border: 1px solid black;
	padding: 10px 15px;
	font-size: 14px;
}

.the-internet {
    background: url('/public/images/the_internet.gif');
    background-size: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.search-wrapper {
    display: table;
    width: 100%;
    height: 100%;
}

.searching {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    -webkit-animation:spin 4s linear infinite;
}

@-webkit-keyframes spin { 100% { -webkit-transform: rotate(-360deg); } }

.row {
	display: block;
	margin: 10px 0;
}

.row span {
	vertical-align: middle;
}

.input-inline {
	margin: 0 5px;
}

.input-inline input {
	vertical-align: middle;
}

.accepted {
    color: green;
}

.rejected {
    color: darkred;
}